*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    user-select: none;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #060a1f;
}
nav{
    position: relative;
    width: 170px;
    height: 80px;
    background: #080e2b;
    border-radius: 5px;
    border: 1px solid #060a1f;
    cursor: pointer;
    overflow: hidden;
    transition: all .4s;
}
nav:before{
        content:"MENU";
        position: absolute;
        /* pointer-events: none; */
        color: #a9b5ef;
        font-size: 30px;
        font-weight: 800;
        left: 50%;
        transform: translateX(-50%);
        line-height: 80px;
        background: #080e2b;
        z-index: 10;
        transition: all .4s;

}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 80px;
}
nav ul li a{
    text-decoration: none;
    background: #a9b5ef;
    font-size: 24px;
    margin: 0 -50px;
    /* padding: 10px 15px; */
    border-radius: 5px;
    transition: all .4s;

}
ul a:hover, ul a:active{
   background: #0c1540;
}
nav._expand{
    width: 730px;
}
nav._expand ul a{
    margin: 0 10px;
    padding: 10px 15px;
    opacity: 1;
    pointer-events: auto;
}
nav._expand:before{
    opacity: 0;
    pointer-events: none;
}